Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

## 1. Загрузка данных

In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('/datasets/insurance.csv')

In [5]:
df.head()

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
Пол                  5000 non-null int64
Возраст              5000 non-null float64
Зарплата             5000 non-null float64
Члены семьи          5000 non-null int64
Страховые выплаты    5000 non-null int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

### Вывод
Данные состроят из 5000 строк и 5 признаков. Пропусков нет. Типы данных в порядке. Предобработка не нужна. Целевой признак - "Страховые выплаты".

## 2. Умножение матриц

В этом задании вы можете записывать формулы в *Jupyter Notebook.*

Чтобы записать формулу внутри текста, окружите её символами доллара \\$; если снаружи —  двойными символами \\$\\$. Эти формулы записываются на языке вёрстки *LaTeX.* 

Для примера мы записали формулы линейной регрессии. Можете их скопировать и отредактировать, чтобы решить задачу.

Работать в *LaTeX* необязательно.

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

In [7]:
# Готовим целевой признак и признаки
features=df.drop(['Страховые выплаты'],axis=1)
target=df['Страховые выплаты']

In [8]:
print(features.shape)
print(target.shape)

(5000, 4)
(5000,)

In [9]:
state = np.random.RandomState(12345)
# Формирую случайными равномерно распределнными значениями обратиму матрицу 4х4
inv_rand_matrix=np.random.normal(size=(features.shape[1],features.shape[1]))
inv_rand_matrix.shape

(4, 4)

In [10]:
inv_rand_matrix

array([[-1.23967906, -0.01859983,  0.00894676,  1.01209307],
       [-1.54592806, -0.10661588, -0.87671478, -1.05276199],
       [-0.80919812, -0.18782397, -1.50175383,  1.68674003],
       [-1.34367215, -1.10191135, -1.89727847,  0.46569442]])

In [11]:
#Новая кодированная матрица 
crypt_features=features @ inv_rand_matrix

In [12]:
# пример преобразованной матрицы признаков B
crypt_features

                 0            1             2             3
0    -40202.192947 -9321.560547 -74524.823412  83620.619873
1    -30821.984765 -7143.317004 -57108.871550  64048.159660
2    -17037.992346 -3947.395177 -31562.255077  35391.010464
3    -33778.713264 -7836.702198 -62645.340115  70315.882503
4    -21164.596488 -4905.209395 -39220.313928  43995.449456
...            ...          ...           ...           ...
4995 -28934.346066 -6710.504705 -53640.954162  60188.073008
4996 -42455.886496 -9846.702745 -78723.606068  88349.849189
4997 -27465.422033 -6371.568636 -50930.783557  57160.363056
4998 -26500.059501 -6147.513618 -49132.320727  55135.647288
4999 -32899.312840 -7629.758834 -60997.641685  68453.645538

[5000 rows x 4 columns]

In [13]:
# пример матрицы признаков X
features

      Пол  Возраст  Зарплата  Члены семьи
0       1     41.0   49600.0            1
1       0     46.0   38000.0            1
2       0     29.0   21000.0            0
3       0     21.0   41700.0            2
4       1     28.0   26100.0            0
...   ...      ...       ...          ...
4995    0     28.0   35700.0            2
4996    0     34.0   52400.0            1
4997    0     20.0   33900.0            2
4998    1     22.0   32700.0            3
4999    1     28.0   40600.0            1

[5000 rows x 4 columns]

Умножая значения одних и тех же весов на признаки разных матриц мы получим значения отличные друг от друга

**Ответ:** при умножении признаков $X$ на обратимую матрицу $P$ мы имеем новую матрицу признаков $B$. Качество линейной регрессии после проверки $B$ измениться, т.е метрика качества $R^2$ будет сильно другой. А точнее будет хуже. Но если принять матрицу признаков $B$, как обучающую, то модель обучится и покажет тот же результат $R^2$, что и для признаков $X$

**Обоснование:** в нашей задаче мы предсказываем целевой признак $y=W1*X1+W2*X2...Wn*Xn+W0$, где n-количество признаков. А если мы подставим вместо значений $X$ значения новой матрицы $B$, то получим значения новых предсказаний $y'$: $y'=W1*В1+W2*В2...Wn*Вn+W0$, и при старых весах $W$ значения $y!=y'$. Для того чтобы получить $y=y'$ надо получить новые веса $W'$, т.е обучить матрицу признаков $B$ заново!

## 3. Алгоритм преобразования

**Алгоритм**

После получения новой матрицы B, перед процессом функцией predict выполним действие: $X=P^{-1}*B$

**Обоснование**

Кодирование признаков происходит умножением $X*P=B$, где $X$-матрица признаков, $P$-матрица, на которую умножаются признаки (обратимая матрица),$B$-новая матрица. Умножим обе части уравнения на $Р^{-1}$ (обратную матрицу $P$). Получим $X*Р^{-1}*P=B*Р^{-1}$. Зная свойство обратных матриц $Р^{-1}*P=E$, где Е- это единичная матрица и зная свойство единичной матрицы $E*X=X$, получаем, что $X=P^{-1}*B$

## 4. Проверка алгоритма

In [14]:
# Класс модели линейной регрессии
class LineRegression():
    #Функция обучения
    def fit(self,train_features,train_target):
       
        X = np.concatenate((np.ones((train_features.shape[0], 1)), train_features), axis=1) # Добавляем столбец с 1
        y=train_target 
        w=np.linalg.inv(X.T @ X)@ X.T @ y # сама формула ЛР
       
        self.w=w[1:] # веса признаков
        self.w0=w[0] # регрессор константа
    
    #Функция предсказания    
    def predict(self,test_features):
        return test_features.dot(self.w)+self.w0 # признак

In [15]:
# Модель линейной регрессии для features без кодирования
model=LineRegression()
model.fit(features,target)
prediction=model.predict(features)

MSE=r2_score(target,prediction)
print(MSE)

0.4249455028666801

In [16]:
prediction

0       0.511727
1       0.684316
2       0.093734
3      -0.222589
4       0.065084
          ...
4995    0.028390
4996    0.253367
4997   -0.256970
4998   -0.190992
4999    0.049050
Length: 5000, dtype: float64

In [22]:
# Модель линейной регрессии для crypt_features (кодированная) без обучения 
model=LineRegression()
model.fit(features,target)
prediction_crypt_1=model.predict(crypt_features)
MSE_crypt_1=r2_score(target,prediction_crypt_1)
print(MSE_crypt_1)

-36685096.23193348

In [23]:
# Модель линейной регрессии для crypt_features (кодированная) с обучением 
model=LineRegression()
model.fit(crypt_features,target)
prediction_crypt_2=model.predict(crypt_features)
MSE_crypt_2=r2_score(target,prediction_crypt_2)
print(MSE_crypt_2)

0.4249455028666522

## Реализация алгоритма преобразования

In [24]:
P=inv_rand_matrix
P_inv=np.linalg.inv(P) # делаем обратную матрицу от inv_rand_matrix

In [25]:
ones_diag_matrix=P @ P_inv # проверяем, что при их умножении будет единичная матрица
ones_diag_matrix

array([[ 1.00000000e+00, -6.19546453e-17,  8.94509723e-17,
         5.93284188e-18],
       [ 1.01127894e-16,  1.00000000e+00, -2.42990373e-17,
        -2.70547548e-17],
       [-1.50460664e-18, -7.45411080e-17,  1.00000000e+00,
        -4.54527472e-17],
       [-3.50771589e-17, -6.45070714e-17,  4.51272929e-17,
         1.00000000e+00]])

In [26]:
decrypt_features=crypt_features @ P_inv # сам алгоритм преобразования

In [27]:
model=LineRegression()
model.fit(features,target)
prediction_decrypt=model.predict(decrypt_features)
MSE_decrypt=r2_score(target,prediction_decrypt)
print(MSE_decrypt)

0.42494550286668153

# Вывод

Сравним качества моделей

In [28]:
rezume=[MSE,MSE_crypt_1,MSE_crypt_2,MSE_decrypt]
df_rezume=pd.DataFrame(rezume,index=['Без кодирования','С кодированием и без переобучения','С кодированием и переобучением','С преобразованием'])
df_rezume.set_axis(['MSE'],axis='columns',inplace=True)
df_rezume

                                            MSE
Без кодирования                    4.249455e-01
С кодированием и без переобучения -3.668510e+07
С кодированием и переобучением     4.249455e-01
С преобразованием                  4.249455e-01

- Модели "Без кодирования","С кодированием и переобучением" и "С преобразованием " дали одинаковый результат. 
>Алгоритм преобразования работает!